.container-for-pagnate-calendar *:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.pagnate-calendar-preview button{
    border-radius: 20px !important;
    padding: unset !important;
    background: var(--textColor2);
    color: var(--textColor1);
    padding: 10px 12px !important;
    border: solid 3px var(--textColor2) !important;
}

.pagnate-calendar-preview button:hover{
    background: transparent;
    color: var(--textColor2);
    border: solid 3px var(--textColor2) !important;
}

.pagnate-calendar-preview .MuiPaginationItem-root {
  margin: 0 6px !important;
  font-weight: 600;
  transition: all 0.3s ease;
  font-size: 13px;
}

.pagnate-calendar-preview .MuiPaginationItem-root.Mui-selected {
  /* background-color: var(--textColor2) !important;
  color: var(--kindaOrange) !important; */

    background: var(--gradientColor2);
    color: var(--textColor2);
    border: solid 3px var(--textColor2);
}

.container-for-pagnate-calendar{
    background: var(--gradientColor1);
    width: fit-content;
    height: fit-content;
    padding: 5px;
    /* border-radius: 20px; */
    /* border: solid 2px var(); */

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}