#dashboardMaster{
    /* min-height: 100vh; */
    /* padding: 1rem; */
    border-radius: 20px;
}


/* Media Query for different screen sizes */

/* Media for screens at 301px */
@media screen and (min-width: 0px) and (max-width: 900px) { 
    #dashboardMaster{
        display: flex;
        flex-direction: column;
    }
}