#playlistSearchMaster{
    font-family: var(--fontFamily1);
    width: 95%;
    height: 100vh;
    border-right: solid 4px var(--darkerPurple);
    font-family: var(--fontFamily1);

    overflow-x: hidden;
    overflow-y: auto;
}

.loadingIntro_search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;

    font-weight: 550;
    font-size: 16px;
    padding: 20px;
}

.span_recomended_playlist_selections{
    display: flex;
    gap: 11px;
    margin-top: 11px;
}

.span_recomended_playlist_selections span:hover{
    background-color: var(--darkerPurple) !important;
    color: var(--textColor1);
}

.readDocs_content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputSearch > *:not(.search_field_input){
    width: 100%;
    padding: 20px 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    position: sticky;
    top: 0px;
    z-index: 999 !important;
}

.full-input-field input::placeholder{
    color: var(--lightGrey);
}

.inputSearch_title, .readDocs_button{
    font-weight: 600;
    font-size: 25px;
}

.inputSearch input{
    padding: 8px 10px;
    width: 550px;
    height: fit-content;
    border: none;
    outline: unset;
    font-family: var(--fontFamily1);

    font-weight: 500;
    font-size: 16px;

    border: solid 3px var(--textColor2_semi);
    border-right: none;
    border-bottom: unset;
    border-left: unset;
    border-top: solid 2px var(--textColor2_semi);
    color: var( --textColor2_semi);

    transition: all 0.3s ease;
}

/* .inputSearch input:focus{
    width: 550px;
} */

.search_field_input{
    display: flex;
    align-items: center;
    gap: 10px;

    position: fixed;
    bottom: 0;

    background-color: var(--textColor1of1);
    width: fit-content;
    padding-top: 8px;
    padding-right: 13px;
    padding-bottom: unset;
    padding-left: unset;
    z-index: 9999;
    border-top: solid 2px var(--textColor2_semi);
    border-right: solid 2px var(--textColor2_semi);
    border-top-right-radius: 13px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filter-regex{
    cursor: pointer;
    background-color: var(--backgroundHTML);
    border: solid 2px var(--textColor1);
    border-radius: 5px;
    padding: 1px 3px;


    display: flex;
    align-items: center;  
    justify-content: center;

    transition: all 0.4s ease;
}

.filter-regex:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.filterPopup-filter-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem; 
    padding-bottom: 0.7rem;
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); /*for safari browser*/
    overflow-y: auto;
}

.filterPopup-filter{
    background-color: var(--textColor1of1);
    color: var(--textColor2);
    padding: 10px 10px;

    display: flex;
    flex-direction: column;
    gap: 6px;
    border-radius: 6px;

    width: 600px;
}

.filterInput-container{
    margin-top: 13px;
}

.all-saved-filters{
    margin-top: 6px;

    display: flex;
    flex-wrap: wrap;
    gap: 8px; 
}

.filterInput-container input{
    width: 510px !important;
    height: 38px !important;
    border: solid 2px var(--textColor2_semi);
    border-radius: 7px;

    border-right: unset !important;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
}

.filterInput-container input:focus{
    width: 510px !important;
}

.filterInput-container button{
    padding: 3px 10px !important;
    border: solid 2px var(--textColor2_semi) !important;
    height: 38px !important;
    border-radius: 7px !important;

    border-left: solid 2px var(--textColor2_semi) !important;
    border-bottom-left-radius: unset !important;
    border-top-left-radius: unset !important;

    background-color: var(--darkerPurple) !important;
    color: var(--textColor1of1) !important;
}

.filterInput-container button:hover{
    background-color: var(--darkerPurple_semi) !important;
    color: var(--textColor2) !important;
}

.each-keyword-regex{
    display: flex;
    align-items: center;
    background: var(--backgroundHTML);
    width: fit-content;
    height: fit-content;
    padding: 3px 5px;
    border-radius: 6px;
    border: solid 2px var(--textColor1);
    gap: 3px;
}

.full-input-field{
    display: flex;
}

.search_field_input button{ 
    padding: 8px 20px;
    /* width: 600px; */
    border: none;
    outline: unset;
    font-family: var(--fontFamily1);

    font-weight: 500;
    font-size: 16px;

   
    border: solid 2px var(--kindaOrange);
    border-left: unset;
    border-bottom: unset;
    border-top-right-radius: 10px;
    background: var(--kindaOrange_semi);
    color: var(--textColor2);
    font-weight: 600;

    transition: all 0.3s ease;
    cursor: pointer;
}

.search_field_input button:hover{
    background-color: var(--kindaOrange);
    color: var(--textColor1);
}

.card_section_mapped_data{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    justify-items: flex-start;
    padding: 20px; */

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 50px; */

    width: 100%;
}

/* Disable Button */
.disableButtonStyle{
    background-color: var(--kindaDark) !important;
    cursor: not-allowed !important;
    color: var(--textColor1) !important;
    /* border: solid 3px var(--kindaDark) !important; */
    border: solid 2px var(--textColor2_semi) !important;
    border-left: solid 0px transparent !important;
    border-bottom: unset !important;
}
/*  */

.filter_playlist_input{
    border: solid 3px var(--kindaOrange) !important;
    background-color: var(--kindaWhite2) !important;
    color: var(--kindaOrange) !important;
}

.changeInput_container{
    display: flex;
    align-items: center;
    gap: 16px;
}

.undo_icon{
    width: 35px !important;
    height: 35px !important;
    background-color: var(--kindaWhite);
    padding: 4px;
    border-radius: 50px;
    border: solid 3px var(--backgroundHTML);
    color: var(--darkerPurple) !important;

    transition:  all 0.3s ease !important;
    cursor: pointer;
}

.undo_icon:hover{
    border: transparent;
    background-color: var(--kindaOrange);
    color: white !important;
    transform: scale(1.1);
}

.loadingIntro_search p{
    text-align: center;
}

.no_results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 520;
    width: 100%;
    grid-column: 1 / -1;
    margin: 40px auto;
    text-align: center;
  }

.loading_indicator{
}

.search-tags{
    padding: 3px 5px;
    border-radius: 4px;
}

/* Media for playlistSearch */

/* Media for screen at 300px and under */
@media screen and (max-width: 300px) {
    #playlistSearchMaster{
        width: 100%;
    }

    .inputSearch_title{
        font-size: 18px;
    }

    .search_field_input input{
        width: 100%;
    }

    .search_field_input input:focus{
        width: 100%;
    }

    .changeInput_container input{
        width: 100%;
    }

    .changeInput_container input:focus{
        width: 100%;
    }

    .search_field_input button{
        padding: 5px 15px;
    }

    .loadingIntro_search{
        padding: 5px;
    }

    .loadingIntro_search p{
        font-size: 13px;
    }

    .span_recomended_playlist_selections {
        font-size: 15px;
        text-align: center;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .card_section_mapped_data{
        display: flex;
        overflow-x: auto;
    }

    /*  */
    .filterPopup-filter-overlay{
        position: absolute;
        padding: 10px;
    }

    .filterPopup-filter{
        width: 100%;
        margin-top: 10px;
    }

    .filterInput-container input{
        width: 60% !important;
    }

    .filterInput-container input:focus{
        width: 60% !important;
    }
}

/* Media for screen at 301px to 500px */
@media screen and (min-width: 301px) and (max-width: 500px) {
    #playlistSearchMaster{
        width: 100%;
    }

    .inputSearch_title{
        font-size: 18px;
    }

    .search_field_input input{
        width: 100%;
    }

    .search_field_input input:focus{
        width: 100%;
    }

    .changeInput_container input{
        width: 100%;
    }

    .changeInput_container input:focus{
        width: 100%;
    }

    .search_field_input button{
        padding: 5px 15px;
    }

    .loadingIntro_search{
        padding: 5px;
    }

    .loadingIntro_search p{
        font-size: 15px;
    }

    .span_recomended_playlist_selections {
        font-size: 15px;
        text-align: center;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .card_section_mapped_data{
        display: flex;
        overflow-x: auto;
    }

        /*  */
    .filterPopup-filter-overlay{
        position: absolute;
        padding: 10px;
    }

    .filterPopup-filter{
        width: 100%;
        margin-top: 10px;
    }

    .filterInput-container input{
        width: 60% !important;
    }

    .filterInput-container input:focus{
        width: 60% !important;
    }
}

/* Media for screen at 501px to 900px */
@media screen and (min-width: 501px) and (max-width: 900px) {
    #playlistSearchMaster{
        width: 100%;
    }

    .inputSearch_title{
        font-size: 18px;
    }

    .search_field_input input{
        width: 100%;
    }

    .search_field_input input:focus{
        width: 100%;
    }

    .changeInput_container input{
        width: 100%;
    }

    .changeInput_container input:focus{
        width: 100%;
    }

    .search_field_input button{
        padding: 5px 15px;
    }

    .loadingIntro_search{
        padding: 5px;
    }

    .loadingIntro_search p{
        font-size: 13px;
    }

    .span_recomended_playlist_selections {
        /* font-size: 15px; */
        text-align: center;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .card_section_mapped_data{
        display: flex;
        overflow-x: auto;
    }

        /*  */
    .filterPopup-filter-overlay{
        position: absolute;
        padding: 10px;
    }

    .filterPopup-filter{
        width: 100%;
        margin-top: 10px;
    }

    .filterInput-container input{
        width: 60% !important;
    }

    .filterInput-container input:focus{
        width: 80% !important;
    }
}